body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('purple-aesthetic-laptop-b2ogw480y5guiqub.webp') no-repeat center center fixed;
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #b211ad;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #b211ad;
}

.details {
    margin-top: 20px;
}

.details h2 {
    margin-top: 0;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #b211ad;
}

th, td {
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

footer span {
    font-weight: bold;
    color: #e2e60b;
}
